/* Main CSS */
body {
    font-family: 'Press Start 2P', sans-serif;
    width: 100%;
}
div {
    margin-top: 50px;
}
input {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 0.6em;
    padding: 0.5em;
    border: 3px black solid;
    min-width: 35em;
}
button {
    font-family: 'Press Start 2P', sans-serif;
    padding: 1em;
    border: 4px black solid;
    color: white;
    background-color: black;
    text-transform: uppercase;
}
button:hover {
    background-color: #d10055;
}
#container {
    padding: 50px;
    margin: 50 auto;
    text-align: center;
    width: 800px;
}
h1,h2 {
    font-weight: normal;
    text-transform: uppercase;
}
.info {
    font-size: 0.8em;
}
.logo {
    width: 600px;
}